<%- include('partials/header');%>

 <div class="jumbotron mt-4">
     <h1 class="display-4"> DatawareHouse</h1>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vitae blanditiis, dolorem ipsum autem illo, rem itaque unde pariatur voluptatum necessitatibus culpa architecto! Distinctio dolorum praesentium expedita omnis vitae reprehenderit.</p>
     <hr class="my-4">
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora, iste alias ducimus, quisquam fuga officia velit necessitatibus a sint consequatur voluptatem. Laudantium ad quasi libero eaque optio distinctio totam minima, repudiandae tenetur? Fuga, eligendi a dolorum aliquid iste consectetur vero tempora eius autem at assumenda dolorem dignissimos porro blanditiis!</p>
 </div>
    
</body>
</html>