<%- include('partials/header'); %>

<div class="container col-md-6 mt-5">
    <div class="card">
        <div class="card-header bg-dark">
            <h2 class="lead text-light">Registrar Usuarios</h2>
        </div>
        <div class="card-body">
            <form action="/usuario" method="POST">
                <div class="form-group">
                  <input type="text"  class="form-control" placeholder="Ingrese Nombre" name="nombre">                    
                </div>
                <div class="form-group">
                    <input type="text"   class="form-control" placeholder="Ingrese Apellidos" name="apellidos">
                </div>
                <div class="form-group">
                    <input type="email"  class="form-control" placeholder="Ingrese Email" name="email" >
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Perfil"  name="perfil">
                </div>
                 <div class="form-group">
                    <input type="password"  class="form-control" placeholder="Ingrese Contraseña" name="password">
                 </div>
                 <div class="form-group">
                    <input type="password"  class="form-control" placeholder="Repita la Contraseña" name="password_repeat">
                 </div>
                 
                 <div class="form-group">
                   <button class="btn btn-primary btn-block" type="submit">Registrar</button>
                 </div>
              
                
            </form>
        </div>
    </div>
</div>